
{% extends "main.html" %}

<!-- Content -->
{% block content %}
  <h1>Oupsi ! Erreur 404 !</h1>
  <p>Vérifie l'URL dans ta barre d'adresse ou <a href="{{ config.extra.homepage | d(nav.homepage.url, true) | url }}">retourne à la page d'accueil</a>.</p>
{% endblock %}
