/*** Palettes de couleurs personnalisées ***/

/** Mode clair **/
/* Couleurs */
[data-md-color-scheme="alternatiba"] {
  --md-primary-fg-color:        #00804d;    /* Vert Alternatiba */
  --md-light-fg-color:          #00804d1a;  /* Vert Alternatiba pâle */
  --md-accent-fg-color:         #d64b4c;    /* Rouge Alternatiba */
}
/* Hide dark images in light mode */
[data-md-color-scheme="alternatiba"] img[src$="#only-dark"],
[data-md-color-scheme="alternatiba"] img[src$="#gh-dark-mode-only"] {
  display: none;
}


/** Mode sombre **/
/* Couleurs */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #00804d;    /* Vert Alternatiba */
  --md-light-fg-color:          #00804d1a;  /* Vert Alternatiba pâle */
  --md-accent-fg-color:         #d64b4c;    /* Rouge Alternatiba */
}
/* Hide light images in dark mode */
[data-md-color-scheme="slate"] img[src$="#only-light"],
[data-md-color-scheme="slate"] img[src$="#gh-light-mode-only"] {
  display: none;
}


/* Titre h2 */
.md-typeset h2 {
  color: var(--md-primary-fg-color);
  font-weight: 600;
}


/*** Couleur de l'admonition "Question" ***/

/* Bordure de gauche */
.md-typeset :is(.admonition, details):is(.question, .help, .faq) {
  border-color: var(--md-primary-fg-color);
}

/* Background du titre */
.md-typeset :is(.question, .help, .faq) > :is(.admonition-title, summary) {
  background-color: var(--md-light-fg-color);
}

/* Icône */
.md-typeset :is(.question, .help, .faq) > :is(.admonition-title, summary)::before {
  background-color: var(--md-primary-fg-color);
}


/*** Footer ***/

/* Fond vert Alternatiba */
.md-footer {
  background-color: var(--md-primary-fg-color);
}


/*** Images ***/

/* Bordure verte autour des images */
.md-img-border {
  border: solid 2px var(--md-primary-fg-color);
}


/*** Emoji, icônes ***/
.rocket-chat {
  color: #1DA1F2;
}


/*** Animation logo ***/
.md-header__button.md-logo {
  transition-duration: 0.2s;
  transition-property: transform;
}

.md-header__button.md-logo:hover {
  opacity: 1;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
}